<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="../static/css/caseType.css">
    <title>SocioLawgy: Case Types</title>
</head>
<body>

<header>
    <div class="logo">
        <img src="../static/images/fullLogo.png" alt="Law - Tools of Argument">
    </div>
</header>

<div class="row">
    <div class="column">
        <img src="../static/images/property.png" alt="Property crime">
        <p type = "case_type"><h3>Property Crimes</h3></p>
        <br>
        <ul>
            <li>Legal Grounds:
                <ul>
                    <li>Burglary</li>
                    <li>Robbery</li>
                    <li>Larceny/Theft</li>
                    <li>Arson</li>
                    <li>Criminal vandalism</li>
                    <li>Trespassing</li>
                    <li>Burglary Tools Possession</li>
                </ul>
            </li>
            <br>
            <li>Documentation required: 
                <ul>
                    <li>Incident Report</li>
                    <li>Photographs and Videos</li>
                    <li>Inventory of Stolen or Damaged Items</li>
                    <li>Witness Statements</li>
                    <li>Surveillance Footage</li>
                    <li>Police Report</li>
                    <li>Insurance Documents</li>
                    <li>Security System Records</li>
                    <li>Forensic Evidence</li>
                    <li>Financial Records</li>
                </ul>
            </li>
            <br>
            <li>Time Commitment: ~ 3 years</li>
        </ul>
    </div>
    <div class="column">
        <img src="../static/images/gun.png" alt="Gun Violence">
        <p type = "case_type"><h3>Violent Crimes</h3></p>
        <br>
        <ul>
            <li>Legal Grounds:
                <ul>
                    <li>Assault</li>
                    <li>Battery</li>
                    <li>Aggravated Robbery</li>
                    <li>Homicide</li>
                    <li>Kidnapping</li>
                    <li>Sexual assault</li>
                    <li>Terrorist threats</li>
                    <li>Assault</li>
                </ul>
            </li>
            <br>
            <li>Documentation required: 
                <ul>
                    <li>Incident Report</li>
                    <li>Photographs and Videos</li>
                    <li>Medical records</li>
                    <li>Witness Statements</li>
                    <li>Police Report</li>
                    <li>Specific to Assault Cases:</li>
                    <ul>
                        <li>Forensic Evidence of Sexual Assault</li>
                        <li>Victom Advocacy Documentation</li>
                    </ul>
                </ul>
            </li>
            <br>
            <li>Time Commitment: ~ 5 to 10 years</li>
        </ul>
    </div>
    <div class="column">
        <img src="../static/images/traffic.png" alt="Traffic Violations">
        <p type = "case_type"><h3>Traffic Violations</h3></p>
        <br>
        <ul>
            <li>Legal Grounds:
                <ul>
                    <li>Speeding</li>
                    <li>Running Red Lights or Stop Signs</li>
                    <li>Reckless Driving</li>
                    <li>Driving Under the Influence</li>
                    <li>Driving Without a valid license</li>
                    <li>Failure to yield</li>
                    <li>Improper lane changes</li>
                    <li>Failure to use seatbelts</li>
                    <li>Texting or distracted driving</li>
                    <li>Parking violations</li>
                    <li>Running a school bus stop arm</li>
                    <li>Tailgating</li>
                </ul>
            </li>
            <br>
            <li>Documentation required: 
                <ul>
                    <li>Traffic Citation/Summons</li>
                    <li>Driver’s License</li>
                    <li>Vehicle Registration</li>
                    <li>Insurance information</li>
                    <li>Witness Statements</li>
                    <li>Photographs or videos</li>
                    <li>Traffic Camera Images or Video</li>
                    <li>Maintenance Records</li>
                    <li>Witness Contact Information</li>
                    <li>Proof of Correction</li>
                </ul>
            </li>
            <br>
            <li>Time Commitment: ~ 2 to 6 months</li>
        </ul>
    </div>
    <div class="column">
        <img src="../static/images/domestic_violence.png" alt="Comestic">
        <p type = "case_type"><h3>Domestic Violence</h3></p>
        <br>
        <ul>
            <li>Legal Grounds:
                <ul>
                    <li>Physical abuse</li>
                    <li>Emotional or psychological abuse</li>
                    <li>Sexual abuse</li>
                    <li>Stalking</li>
                    <li>Economic abuse</li>
                    <li>Harassment</li>
                    <li>Violation of protective order</li>
                    <li>Child abuse or engagement</li>
                    <li>Distructio of Property</li>
                    <li>Interference with emergency services</li>
                    <li>Strangulation or suffocation</li>
                </ul>
            </li>
            <br>
            <li>Documentation required: 
                <ul>
                    <li>Incident report</li>
                    <li>Photographs or videos</li>
                    <li>Medical records</li>
                    <li>Police report</li>
                    <li>Witness statements</li>
                    <li>Financial records</li>
                    <li>Counseling or therapy records</li>
                    <li>Child custody and support documents</li>
                    <li>Divorce or separation documents</li>
                </ul>
            </li>
            <br>
            <li>Time Commitment: ~ 1 year</li>
        </ul>
    </div>
    <div class="column">
        <img src="../static/images/hate_crime.png" alt="Image 5">
        <p type = "case_type"><h3>Hate Crimes</h3></p>
        <br>
        <ul>
            <li>Legal Grounds:
                <ul>
                    <li>Crimes committed on the basis of:</li>
                    <ul>
                        <li>Race</li>
                        <li>Religion</li>
                        <li>Color</li>
                        <li>Nationality</li>
                        <li>Gender</li>
                        <li>Sexual Orientation</li>
                        <li>Gender Identity</li>
                        <li>Disability</li>
                    </ul>
                </ul>
            </li>
            <br>
            <li>Documentation required: 
                <ul>
                    <li>Incident report</li>
                    <li>Photographs or videos</li>
                    <li>Police report</li>
                    <li>Witness statements</li>
                    <li>Evidence of bias motivation</li>
                    <li>Hate symbols</li>
                    <li>Community records</li>
                    <li>Victim advocacy services records</li>
                    <li>Community response</li>
                    <li>Statements of impact</li>
                </ul>
            </li>
            <br>
            <li>Time Commitment: ~ 2 months to 1 year</li>
        </ul>
    </div>
</div>

</body>
</html>
