<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocioLawgy: Home Page</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/images/fullLogo.png" alt="Law - Tools of Argument">
        </div>
    </header>
    
    <div class="body">


        <div class="body-text" id="left-column">
            <h1>Sign Up:</h1>
            <div class="lawyer-button-container">
                <a href="/signupClient"><button id="client-btn" class="signup-btn">Client</button></a>
                <a href="/signupLawyer"><button id="lawyer-btn" class="signup-btn">Lawyer</button></a>
            </div>            
        </div>

        <div class="body-text" id="right-column">
            <h1>Login As:</h1>
            <div class="user-button-container">
                <a href="/loginClient"><button id="client-btn" class="login-btn">Client</button></a>
                <a href="/loginLawyer"><button id="lawyer-btn" class="login-btn">Lawyer</button></a>
            </div>
        </div>
        

    </div>
</body>
</html>